faker
humanize
psycopg[binary]
python-slugify
sqlalchemy-utils
requests
flask
flask-restful
flask-migrate
flask-limiter
flask_cors
flask-caching
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
gunicorn
pillow
phonenumbers
