faker
humanize
psycopg[binary]
python-slugify
sqlalchemy-utils
requests
flask
marshmallow==3.21.2 
flask-marshmallow==1.3.0
flask-restful
flask-migrate
flask-limiter
flask_cors
flask-caching
flask-sqlalchemy
flask-jwt-extended
flask-mail
marshmallow-sqlalchemy
phonenumbers
pillow
gunicorn